extends layout 

block content 
  h1= name + ' details'
  span
  hr
  p Name: #{name}       
  hr
  p Movie franchise:  #{franchise}      
  hr
  p Actors:
    each actor in actors
      span  #{actor.name}         
  hr
  p Genre:
    each el in genre
      span  #{el}      
  - var img = '/uploads/'+movie.avatar
  - console.log(img)
  img(src=img)

  div
    a(href=movie.url+'/update') Update movie 
  div
    a(href=movie.url+"/delete") Delete movie  