extends layout 

block content 
  form(method='POST' action='')
    div 
      label(for='name') Name:
      input(type='text', placeholder='Name of movie' name='name' required='true' value=(movie==undefined ? '' : movie.name))
      br
      label(for='genres') Genres:
      select(type='select', placeholder='Select genre' name='genres')
        for genre in genres
          option( value=genre.name selected= false ) #{genre.name}
      br
      label(for='actors') Actors:
      select(type='select', placeholder='Select actor' name='actors') 
        for actor in actors
          option( value=actor._id selected= false ) #{actor.name}
    //- This button will trigger the POST method
    button(type='submit') Create movie
  if errors
    ul
      for error in errors
        li!= error.msg
    